---
title:      Encyclopédie de survie
page_size:  5
index_kind: article
---

%h1= @item[:title]

:markdown
  Ce site a pour but de vous introduire au nouvel ordre mondial afin que vous
  soyez parés pour l'avenir et puissiez éviter ses pièges. Le site est encore
  petit mais de nombreux articles deraient voir le jour dans différentes
  sections.

%p
  %a(href="#{link_item("/articles/")}") Voir tous les articles

= render "_index_page", :header => false


