---
title:      Encyclopédie de survie
page_size:  5
index_kind: article
---

= render '_article', :item => (items_of_kind("edito").first)

%p
  %a(href="#{link_item("/articles/")}") Voir tous les articles

= render "_index_page", :header => false


