:ruby
  tags = @item[:tags]
  tags = [] if tags.nil?
  tags = tags.map { |s| s.to_sym }
  tags << @item[:tag].to_sym unless @item[:tag].nil?

.links#menu

  %ul
    %li
      %strong Archives
      %ul
        %li
          %a(href="#{link_item("/articles/")}") Articles
        %li
          %a(href="#{link_item("/edito/")}") Éditoriaux

    %li
      %strong
        %a(href="#{link_item("/tags/nwo/")}") Le Nouvel Ordre Mondial
      %ul
        %li
          %a Ses Buts
        %li
          %a Ses Armes

    %li
      %strong Le Futur
      %ul
        %li
          %a(href="#{link_item("/tags/freeenergy/")}") Les Énergies Libres

  - unless (tags & [:freeenergy]).empty?
    %ul
      - if tags.include? :freeenergy
        %li
          %strong Les Énergies Libres
          %ul
            %li
              %a Air Comprimé
            %li
              %a Énergie Magnétique
            %li
              %a Nouvelles Théories Physiques

